html {
	font-size: 16px;
}

body {
	margin: 0;
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.App {
	width: 100vw;
	height: fit-content;
	position: absolute;
	top: 0;
	left: 0;
}